<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="ens">
<head>
  <% include ../partials/head %>
  <link rel='stylesheet' type='text/css' href='/stylesheets/index.css' />
</head>
<body class="container">

  <div id="page-wrap">

    <header class="page-header" id="header1">
      <% include ../partials/header %>
    </header>

    <nav class="navbar navbar-inverse">
      <% include ../partials/nav %>
    </nav>

    <section class="main container-fluid" id="s1">
      <div class="row">
        <h1>Buscador</h1>
      </div>

      <div class="row">
        <h2><%- title %></h2>
      </div>

      <div class="row">
        <% if(usuarios.length != null){ %>
          <table class="table table-bordered">
            <tr>
              <td><strong>Username</strong></td>
              <td><strong>Password</strong></td>
              <td><strong>Email</strong></td>
              <td><strong>Link</strong></td>
            </tr>
            <%for(var i = 0; i < usuarios.length; i++){ %>
              <tr>
                <td> <%= usuarios[i].username %> </td>
                <td> <%= usuarios[i].password %></td>
                <td> <%= usuarios[i].email %></td>
                <td><a href= <%='/usuarios/'+ usuarios[i].username%> >Link.</a></td>
              </tr>
            <% } %>
          </table>
        <% } %>
      </div>

    </section>

    <footer class="nav" id="f1">
        <% include ../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap"-->

</body>
</html>
